{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% import 'macros.html' as macro %}


{% block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|Joti+One" rel="stylesheet">
{% endblock %}

{% block content %}

            <span style="font-size:40px; font-family: 'Bellefair', cursive;">My Mini Blog</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
            <div class="panel-default style="style="border: 3px solid #f2f2f2; padding:20px; margin-top:10px;">
                <p style="font-family: 'Bellefair', serif; font-size:20px;">Post your blog here and let other user vote and comment on it.Please also feel free to comment and vote on the blog  posted by other people </p>

                <div style="text-align:center;">
                    <a href="{{url_for('main.new_post')}}">
                        <br>
                        <button>Add a new Post Blog</button>
                    </a>

                </div>

            </div>

        </div>
    </hr>
        </hr>
        </hr>
        <div class="all-post"style="text-align:center">
            <span style="color:gains">All posts are displayed below</span>
            <hr>
            <hr>
        <hr>
            {{macro.displayPostList(posts)}}

        </div>

    </div>
{% endblock %}
